<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create">Create User</a>
        <a href="/contact">Contact</a>
        <a href="/about">About</a>
    </div>
    <h1>Update a User</h1>
    <%= userEdit.err %>
        <div class="form-add-new">
            <form action="/update-user" method="post">
                <fieldset>
                    <legend>Add new user</legend>
                    <div class="input-group">
                        <label for="">Email: </label>
                        <input name="email" type="text" value="<%= userEdit.email%>">
                    </div>
                    <div class="input-group">
                        <label for="">Name: </label>
                        <input name="name" type="text" value="<%= userEdit.name%>">
                    </div>
                    <div class="input-group">
                        <label for="">City: </label>
                        <input name="city" type="text" value="<%= userEdit.city%>">
                        <input name="id" type="hidden" value="<%= userEdit.id%>">
                    </div>

                    <div>
                        <button>Save</button>
                    </div>
                </fieldset>
            </form>
        </div>
</body>

</html>